CodeGenerator/ReactTsTemplate4/LOOP_DELETE.txt

  {
        "id": "{{UNIQUE_ID_FOR_SUBFLOW_LOOP_DELETE}}",
        "type": "subflow",
        "name": "[LOOP]DELETE {{SWAGGER_SCHEMA_NAME}}",
        "info": "### _**ONLY USE WITH LOOPS**_\n\n**Deletes** the Record in the **{{SWAGGER_SCHEMA_NAME}}** table in Database.\nHere ID in the url string will be provided like\n**msg._{{SWAGGER_SCHEMA_NAME}}[index]**;\n\n## INDEX\nIt is the **index of the array** on which we are looping.These Array will be \nmostly obtained from **GET ALL**.",
        "category": "{{SWAGGER_SCHEMA_NAME}}",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "{{UNIQUE_ID_FOR_FUNCTION_LOOP_DELETE}}"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 180,
                "wires": [
                    {
                        "id": "{{UNIQUE_ID_FOR_HTTP_LOOP_DELETE}}",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "{{UNIQUE_ID_FOR_FUNCTION_LOOP_DELETE}}",
        "type": "function",
        "z": "{{UNIQUE_ID_FOR_SUBFLOW_LOOP_DELETE}}",
        "name": "DELETE CONFIGURE",
        "func": "const currentDate = new Date();\nvar date = currentDate.getFullYear()+\"-\"+(currentDate.getMonth() + 1)+\"-\"\n        +currentDate.getDate()+\" \"\n        +currentDate.getHours()+\":\"\n        +currentDate.getMinutes()+\":\"\n        +currentDate.getSeconds();\nmsg._{{SWAGGER_SCHEMA_NAME}}[msg.loop.index].created_at = date;\nmsg.headers = {\n    Authorization : global.get(\"token\"),\n};\nmsg.url = '{{SWAGGER_URL}}/{{SWAGGER_SCHEMA_NAME}}/'+msg._{{SWAGGER_SCHEMA_NAME}}[msg.loop.index].{{SWAGGER_SCHEMA_PRIMARY_KEY}};\n//node.send(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "{{UNIQUE_ID_FOR_HTTP_LOOP_DELETE}}"
            ]
        ]
    },
    {
        "id": "{{UNIQUE_ID_FOR_HTTP_LOOP_DELETE}}",
        "type": "http request",
        "z": "{{UNIQUE_ID_FOR_SUBFLOW_LOOP_DELETE}}",
        "name": "DELETE {{SWAGGER_SCHEMA_NAME}}",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    }
