CodeGenerator/ReactTsTemplate4/ShadowLineChart.txt

    {
        "id": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FLOW}}",
        "type": "tab",
        "label": "Shadow_LineChart",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_HTTP_IN}}",
        "type": "http in",
        "z": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FLOW}}",
        "name": "TriggerShadowLineChart1",
        "url": "/flows/Shadow_LineChart/line1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_TOKEN_FUNCTION}}"
            ]
        ]
    },
    {
        "id": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FUNCTION}}",
        "type": "function",
        "z": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FLOW}}",
        "name": "",
        "func": "\nconst categories = [\n  \"Jan\",\n  \"Feb\",\n  \"Mar\",\n  \"Apr\",\n  \"May\",\n  \"Jun\",\n  \"Jul\",\n  \"Aug\",\n  \"Sep\",\n  \"Oct\",\n  \"Nov\",\n  \"Dec\",\n];\n\n\nconst chartSeries = [\n  { data: [10, 5, 11, 20, 13, 28, 18, 4, 13, 12, 13, 5], color: \"#00ab57\" },\n];\n  \n const response = {\n   chartCategories: categories,\n  chartSeries: chartSeries,\n};\n\n// Set the response object as the payload of the outgoing message\nmsg.payload = response;\n  \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_HTTP_RESPONSE}}"
            ]
        ]
    },
    {
        "id": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_HTTP_RESPONSE}}",
        "type": "http response",
        "z": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FLOW}}",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_TOKEN_FUNCTION}}",
        "type": "function",
        "z": "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FLOW}}",
        "name": "Set Token as Global Variable",
        "func": "global.set(\"token\",msg.req.headers.authorization);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "{{UNIQUE_ID_FOR_SHADOW_LINE_CHART_FUNCTION}}"
            ]
        ]
    }
