CodeGenerator/ReactTsTemplate4/SimpleBarChart2.txt

  {
    "id": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FLOW}}",
    "type": "tab",
    "label": "Simple_BarChart2_1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_HTTP_IN}}",
    "type": "http in",
    "z": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FLOW}}",
    "name": "TriggerBar2Chart1",
    "url": "/flows/Simple_BarChart2/data1",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 80,
    "wires": [["{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_TOKEN_FUNCTION}}"]]
  },
  {
    "id": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FUNCTION}}",
    "type": "function",
    "z": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FLOW}}",
    "name": "",
    "func": "\nconst categories = [\n  \"Jan\",\n  \"Feb\",\n  \"Mar\",\n  \"Apr\",\n  \"May\",\n  \"Jun\",\n  \"Jul\",\n  \"Aug\",\n  \"Sep\",\n  \"Oct\",\n  \"Nov\",\n  \"Dec\",\n];\n\n\nconst chartSeries = [\n  { data: [18, 16, 5, 8, 3, 14, 14, 16, 17, 19, 18, 20], color: \"#00ab57\" },\n  {\n    data: [12, 11, 4, 6, 2, 9, 9, 10, 11, 12, 13, 13],\n    color: \"#ff5c7c\",\n  },\n];\n  \n const response = {\n   chartCategories: categories,\n  chartSeries: chartSeries,\n};\n\n// Set the response object as the payload of the outgoing message\nmsg.payload = response;\n  \nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 240,
    "wires": [["{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_HTTP_RESPONSE}}"]]
  },
  {
    "id": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_HTTP_RESPONSE}}",
    "type": "http response",
    "z": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FLOW}}",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 750,
    "y": 420,
    "wires": []
  },
  {
    "id": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_TOKEN_FUNCTION}}",
    "type": "function",
    "z": "{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FLOW}}",
    "name": "Set Token as Global Variable",
    "func": "global.set(\"token\",msg.req.headers.authorization);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 160,
    "wires": [["{{UNIQUE_ID_FOR_SIMPLE_BAR_CHART2_FUNCTION}}"]]
  }

