CodeGenerator/ReactTsTemplate4/StraightLineChart.txt

  {
    "id": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FLOW}}",
    "type": "tab",
    "label": "Straight_LineChart1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_HTTP_IN}}",
    "type": "http in",
    "z": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FLOW}}",
    "name": "TriggerStarightLineChart2",
    "url": "/flows/Straight_LineChart/line1",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 60,
    "wires": [["{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_TOKEN_FUNCTION}}"]]
  },
  {
    "id": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FUNCTION}}",
    "type": "function",
    "z": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FLOW}}",
    "name": "",
    "func": "\nconst categories = [\n  \"Jan\",\n  \"Feb\",\n  \"Mar\",\n  \"Apr\",\n  \"May\",\n  \"Jun\",\n  \"Jul\",\n  \"Aug\",\n  \"Sep\",\n  \"Oct\",\n  \"Nov\",\n  \"Dec\",\n];\n\n\nconst chartSeries = [\n  {\n    name: \"New Customers\",\n    data: [31, 40, 28, 51, 42, 109, 100, 120, 80, 42, 90, 140],\n    color: \"#ffb547\",\n  },\n  {\n    name: \"Up/Cross-Selling\",\n    data: [11, 32, 45, 32, 34, 52, 41, 80, 96, 140, 30, 100],\n    color: \"#7783DB\",\n  },\n];\n  \n const response = {\n   chartCategories: categories,\n  chartSeries: chartSeries,\n};\n\n// Set the response object as the payload of the outgoing message\nmsg.payload = response;\n  \nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 220,
    "wires": [["{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_HTTP_RESPONSE}}"]]
  },
  {
    "id": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_HTTP_RESPONSE}}",
    "type": "http response",
    "z": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FLOW}}",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 730,
    "y": 420,
    "wires": []
  },
  {
    "id": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_TOKEN_FUNCTION}}",
    "type": "function",
    "z": "{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FLOW}}",
    "name": "Set Token as Global Variable",
    "func": "global.set(\"token\",msg.req.headers.authorization);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 140,
    "wires": [["{{UNIQUE_ID_FOR_STRAIGHT_LINE_CHART_FUNCTION}}"]]
  }

